/* ========================================= */
/* ========================================= */
/* === BODY ============================== */
/* ========================================= */
/* ========================================= */

body {
  margin: 0;
  padding: 0;
  background-color: silver;
}


#section {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  justify-content: center;
  margin: 5px;
}

#photo{
  height: 400px;
  width: 400px;
  border : solid black 1px;
  text-align: center;
  margin: 5px;
}

img {
  height: 50%;
  width: 50%;
}

h1{
  font-size: 25px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 15px;
}

h4{
  font-size: 15px;
}
